body {
  margin: 0;
  background-color: white;
  height: 98vh;
}

h4,
p{
  margin: 0;
}

.container {
  padding: 10px;
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.8fr;
  grid-template-rows: 1fr;
  border-radius: 20px;

  width: 95%;
  height: 100%;
  overflow: hidden;
  margin: auto;
  font-family: "Lato";
}

.container > div {
  background-color: white;
}

.left-side {
  overflow: hidden;
  height: 100%;
  grid-column: 1/2;
  grid-row: span;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-right: 0.5px #c6cad1 solid;
}

.main {
  grid-column: 2/3;
  height: 100%; 
  overflow: hidden;
}

.right-side {
  grid-column: 3/4;
  height: 100%;
}

.orange-word {
  color: #ecc596;
}

.logo {
  margin-left: .5em;
}

.logo h1 {
  color: #535e6d;
  font-size: 2.5em;
}
.nav-title {
  margin-left: .5em;
  color: #c6cad1;
  font-size: 0.9em;
}

.nav {
  color: #c6cad1;
  
}

.nav-item {
  list-style: none;
  margin-bottom: 1.5em;
  font-size: 1em;
  font-weight: bold;
  display: flex;
  transition: all 0.2s ease-in-out;
}

.nav-item:hover {
  color: #ecc596;
  cursor: pointer;
}

.nav-item div {
  margin-left: .5em;
}

.last-nav-item {
  margin-bottom: 0;
}

.secondary-nav-title {
  margin-left: .5em;
  color: #c6cad1;
  font-size: 0.9em;
}

.secondary-nav {
  color: #c6cad1;
}

.upgrade-notice {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e3f2f3;
  width: 70%;
  padding: 1em;
  margin: 1em auto 1em auto;
  border-radius: 10px;
}

.upgrade-notice > h4 {
  color: #1b1b24;
  margin: 0px 0px 1em 0px;
}

.upgrade-btn {
  background-color: #7ca4b3;
  color: white;
  border: none;
  font-weight: bold;
  padding: 1em 1.5em;
  border-radius: 10px;
  min-width: 70%;
  transition: all 0.2s ease-in-out;
}

.upgrade-btn:hover {
  transform: scale(1.04);
}

.searchbar_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #a6aab1;
  height: 10%;
}

.searchbar_section h1 {
  color: #535e6d;
  font-size: 2.5em;
  margin-left: 1.5em;
}

.searchbar {
  display: flex;
  align-items: center;
  border: #c6cad1 1px solid;
  border-radius: 20px;
  margin-right: 1.5em;
  height: 60px;
  width: 50%;
}

.searchbar i {
  margin-left: 1.4em;
}

.searchbar div {
  margin-left: 1.4em;
  font-weight: bold;
}

.main-hero-section {
  width: 95%;
  height: 40%;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 25px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0)
    ),
    url("newyork.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
}

.main-hero-section h2 {
  color: white;
  font-size: 2em;
  margin: 0em;
}

.main-hero-section p {
  color: whitesmoke;
}

.hero-content {
  margin-left: 4em;
}

.hero-content p{
  margin: .5em 0em .5em .5em;
}

.hero-action-section {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}



.play-hero-video {
  display: flex;
  align-items: center;
}

.play-hero-video i{
    margin-right: 10px;
}

.hero-action-section button {
  background-color: #465e65;
  color: white;
  border: none;
  padding: 1em 1.5em;
  border-radius: 10px;
  font-weight: bold;
  /* min-width: 70%; */
  transition: all 0.2s ease-in-out;
}

.hero-action-section button:hover {
  transform: scale(1.04);
}

.options-section{
  display: flex;
  justify-content: space-around;
  width: 95%;
  height: 40%;
  margin: 0 auto;
  margin-top: 30px;
}

.spot-slider{
  height: 80%;
  /* background-color: indianred; */
  overflow: hidden;
  padding: 10px;
  display: flex;
}

.spot-card{
  width: 50%;
  height: 86%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: khaki;
  border-radius: 20px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  margin: .3em;
}

.featured-spots-section{
  /* background-color: hotpink; */
  width: 50%;
}


.featured-spots-header{
  display: flex;
}

.featured-spots-header h2{
  text-align: left;
}

.rating{
  display: flex;
  margin-left: auto;
  margin-right: 2em;
  margin-top: 1em;
  border-radius: 7px;
  padding-left: 3px;
  padding-right: 3px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  align-items: center;
  justify-content: space-evenly;
  font-size: .8em;
  width: 5em;
}

.rating i {
  font-size: medium;
}

.spot-card-info{
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  width: 100%;
  padding: 5px;
}

.spot-card-info p{
  margin: .3em 0em .3em .5em;
}

.country-location{
  display: flex;
  align-items: center;
  margin-left: .2em;
  margin-top: .3em;
}

.country-location > p{
  margin: 0;
  font-size: small;
}

.country-location > i{
  font-size: 1em;
}



.featured-hotels-section{
  width: 40%;
  
}

.hotel-card{
  display: flex;
  align-content: center;
  background-color: #f3f3f3;
  border-radius: 7px;
  padding: .4em;
}

.hotel-img{
  height: 4em;
  width: 4em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
}

.hotel-card-info{
  margin-left: 1em;
}

.hotel-card-info > p{
  margin: .3em 0em 0em .5em;
  font-weight: bold;
}

.hotel-card-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}



.profile-section{
  height: 10%;
  align-items: center;
  display: flex;
}




.profile-img{
  border-radius: 50%;
  background-image: url('profile-img.jpg');
  width: 50px;
  height: 50px;
  margin-right: 1em;
  margin-left: 2.5em;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}


.profile-card-details p{
  margin: 0;
}

.profile-card-details p:first-child{
  margin-bottom: .5em;
  font-weight: bold;
  color: #535e6d;
}

.profile-card-details p:last-child{
  font-weight: lighter;
  font-size: small;
  color: #c6cad1;
}


.notification-section{
  height: 40%; 
  width: 100%; 
  margin-left: 2.5em;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.notification-section h3{
  color: #535e6d;
  font-size: 1.4em;
  font-weight: bold;
}

.notification-section > p{
  margin: auto;
color: #ecc596;
}

.notification-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
}

.notification-card{
  width: 90%;
  height: 30%;
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  }

.notification-card-icon{
  border-radius: 20px;
  height: 70px;
  width: 80px;
  background-color: #e3f2f3;
  display: flex;
  justify-content: center;
  align-items: center;
}


.notification-card-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: small;
  padding: 5px;
  margin-left: 1.5em;
}


.locations-section{
  width: 95%;
  height: 40%;
  margin: 0 auto;
  margin-top: 30px;
}


